<!DOCTYPE html>
<html lang="en">
<link rel = "stylesheet" href="css/grid.css">
<head>
  <title>"Grids"</title>
</head>
<body>
<div class = "layout">
<div class="one the-border dot-p">
  <h1 class = "cool">Cool Layouts</h1>
  <button class = "browse">Browse</button>
  <img class = "image-one" src="img/one.jpg">
</div>
<div class="two the-border">Browse an vote</div>
<div class="three the-border">hosted by</div>
<div class="four the-border">cor</div>
<div class="five the-border">key</div>
<div class="six the-border">car show</div>
<div class="seven the-border">facebook</div>
<div class="eight the-border">signup</div>
</div>
</body>
</html>