<!DOCTYPE html>
<html lang="en">
<link rel = "stylesheet" href="css/layout.css">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Design, UI/UX Design, UI Design, UX Design, Development, Portfolio, niveshbirangal, Nivesh Birangal">
  <meta name="description" content="Nivesh Birangal is a designer &amp; developer (UI, UX, interaction, visual, web developer) living in India.">
  <title>"Grids"</title>
</head>
<body>
<div class = "layout">
<div class="one the-border dot-p">
  <h1 class = "cool">COOL LAYOUTS</h1>
  <button class = "browse">Browse</button>
  <img class = "image-one" alt ="image one" src="img/two.jpg">
</div>
<div class="two the-border">
  <p class = "text-adjust">
  <span class = "green-span">BROWSE</span> <span class = "o-span">AND</span> <span class = "yellow-span">DOWNLOAD</span> <span class = "o-span">YOUR <br> FAVORITE LAYOUTS</span>
  </p>
</div>

<div class="three the-border">
  <p class = "birangal">NIVESH BIRANGAL</p>

</div>
<div class="four the-border four-pattern">
</div>
<div class="five the-border ">key</div>
<div class="six the-border">car show</div>
<div class="seven the-border">facebook</div>
<div class="eight the-border">signup</div>
</div>
</body>
</html>